<h3 style="padding-left:10px;" class="alert alert-success col-lg-7">Craft Academy Blogg And Mailboxer</h3>

<body>
<div>
  <table border="3" width="150px" height="500px"
<tr>
<td>
<font size="3"><p>Write here!</p></font>
</tr>
</td>
</table>

</div>
</body>
